<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
		<%= render 'layouts/rails_defaults' %>
  </head>

  <body>
		<% flash.each do |message_type, message| %>
			<%= message %>
		<% end %>
    <%= yield %>
		<%= render 'layouts/footer' %>
  </body>
</html>
